* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body {
    background: linear-gradient(to bottom, rgb(9, 14, 37), rgb(32, 13, 107));
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.header {
    padding: 25px;
}
.head1 {
    padding: 2px;
    font-size: 60px;
}
.head2 {
    padding: 2px;
    font-size: 60px;
    color: rgba(81, 226, 81, 0.979);
    font-weight: 700;
}
.head3 {
    padding: 0px 2px;
    color: rgba(255, 255, 255, 0.781);
    font-size: 22px;
}
.main {
    padding: 25px;
}
.sep1 {
    border: 1px solid rgba(255, 255, 255, 0.521);
    width: 90%;
    justify-self: center;
}
.gen {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    background: linear-gradient(to bottom, rgb(49, 201, 49), rgb(10, 112, 10));
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 8px;
    font-size: 28px;
    margin: 20px 0px;
    color: rgb(255, 254, 254);

}
.footer {
    background-color: rgba(144, 252, 229, 0.836);
    height: 60px;
    margin: 10px 25px ;
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
}
.p1 {
    height: 50px;
    background-color: rgba(206, 190, 98, 0.74);
    width: 300px;
    margin: auto;
    border-radius: 32px;
    text-align: center;
    align-content: center;
    color: green;
}
.p2 {
    height: 50px;
    background-color: rgba(206, 190, 98, 0.74);
    width: 300px;
    margin: auto;
    border-radius: 32px;
    text-align: center;
    align-content: center;
    color: green;
}
